/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    scroll-behavior: smooth;
}

/* Sticky Navbar */
.navbar {
    position: sticky;
    top: 0;
    /* background-color: #121212; */
    background: linear-gradient(to right, black, rgb(65, 17, 41));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 100;
    color: white;
    transition: background-color 0.3s ease; /* Smooth transition for color change */
}

.navbar ul li a.active {
    background-color: orange;
    color: white;
    border-radius: 5px;
}

.logo {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4;
    border-right: 2px solid white;
    padding-right: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.logo-slogan {
    font-size: 14px;
    text-align: center;
    color: blueviolet;
    font-style: italic;
}

.navbar ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 8px 15px;
    transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition */
}

.navbar ul li a:hover {
    text-decoration: underline;
    color: coral; /* Hover color */
}

.navbar ul li:hover {
    transform: scale(1.1); /* Subtle scaling effect on hover */
}

/* Mobile Menu Toggle (hamburger icon) */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}

.social-media {
    padding: 0 5px;
}

.social-media a {
    text-decoration: none;
    color: white; /* Social media link color */
    padding: 0 5px;
}

.social-media a i {
    font-size: 24px;
}

/* Responsive Navbar Styles */
@media screen and (max-width: 768px) {
    .logo {
        padding-right: 5px;
        font-size: 1.4rem;
    }
    
    .menu-toggle {
        display: flex;
    }
    
    .navbar ul {
        position: absolute;
        top: 60px;
        right: 0;
        /* background-color: #1F1F1F; */
        background: linear-gradient(to right, black, rgb(65, 17, 41));
        flex-direction: column;
        width: 200px;
        display: none;
        padding: 10px 15px;
        transition: 0.5s ease;
        border-bottom-left-radius: 8px;
    }

    .navbar ul.active {
        display: flex;
    }

    .navbar ul li {
        text-align: left;
    }

    .social-media {
        display: none;
    }
}
/* Navbar styles end here */
.hero{
    background-color: black;
    color: white;
}
.hero-container{
    height: 100vh;
    background-size: cover;
    display: flex;
}
.hero-bio{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
    text-align: center;
}
.hero-bio-texts h1{
   font-size: 60px;
   color: blue;
   padding-left: 15px;
   margin-bottom: 40px;
}
.hero-bio-texts p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    padding: 0 30px;
    text-indent: 50px;
}
.sales-solution{
    color: coral;
}
.hero-bio-photo{
    width: 50%;
    height: 100%;

}
.hero-bio-photo video{
    width: 100%;
    height: 100%;
    border-top-left-radius: 100%;
    
}
.hero-buttons{
    text-align: center;
}
.btn{
    padding: 10px 40px;
    text-decoration: none;
    border: 1px solid gray;
    background-color: blue;
    color: white;
    margin: 10px;
    display: inline-block;
    transition: all 0.3s;
    border-radius: 30px;
}
.btn-hero-contact{
    background-color: transparent;
}
.btn-hero-contact:hover{
    background-color: blue;
}
.btn:focus{
    background: transparent;
}
/* Hero Responsiveness */
@media screen and (max-width: 768px) {
    .hero-container{
        flex-direction: column;
        height: fit-content;
    }
    .hero-bio{
        width: 100%;
        height: fit-content;
        padding-top: 35px;
    }
    .hero-bio-photo{
        width: 100%;
    }
    
}

/* Main Sections */

/* Who What Container */
.who-what-container{
    min-height: 60vh;
   padding: 100px;
   display: flex;
   justify-content: space-around;
   gap: 40px;
}
.who-what-container h1{
    text-align: center;
    margin-bottom: 20px;
}



/* Who What Responsiveness */
@media screen and (max-width: 768px) {
    .who-what-container{
        flex-wrap: wrap;
        padding: 50px;
    }
    
}

/* Service Section */
.service-title{
    text-align: center;
    margin: 60px 0 0 0;
    font-size: 50px;
    
}
.service-container{
    padding: 100px 0;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    
}
.service-line{
    width: 50%;
    margin: 0 auto;
}
.service{
    padding: 30px;
    border-radius: 8px;
    background-color: #f4f4f4;
    transition: 0.5s;
    margin-bottom: 50px;
}
.service:hover{
    box-shadow: 4px 4px 8px gray;
    background-color: black;
    color: lightgray;
    transform: scale(1.1);
}
.service h2{
    text-align: center;
    margin-bottom: 20px;
    color: blue;
}
.service p{
    margin-bottom: 30px;
}
.service-btn-container{
    text-align: right;
}
.service a{
    padding: 10px 20px;
}
.service a:hover{
    background-color: transparent;
}
.badge{
    background: rgba(0, 0, 255, 0.466);
    font-size: 14px;
    border-radius: 30px;
    color: white;
    padding: 5px 10px;
}
/* Service Section Responsiveness */
@media screen and (max-width: 768px) {
    .service-container{
        grid-template-columns: 1fr;
    }
}

/* form-container */
